*{
    box-sizing: border-box;
  } 
  body {
  
    padding: 0;
    margin: 0;
      
  }
  nav{
    background:rgb(138, 172, 159); 
    height: 80px;
    width: 100%;


  }
  nav ul {
    float: right;
    margin-right: 20px;
  }
  nav ul li {
    display:inline-block;
    line-height: 70px;
    margin: 0 10px;
  }
  nav ul li a {
    color: white;
    font-size: 1.3rem;
    font-weight: 500;
    
  }
  
  nav ul li a img{
    float: left;
    height: 50px; 
  }
  .logo{
   

  margin-right:700px;
font-style: italic;
font-size: larger;


}
  .checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin: 20px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  
      /* Hide the images by default */
      .mySlides {
        display: none;
      }
      
      /* Next & previous buttons */
      .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -22px;
        padding: 16px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
      }
      
      /* Position the "next button" to the right */
      .next {
        right: 0;
        border-radius: 3px 0 0 3px;
      }
      
      /* On hover, add a black background color with a little bit see-through */
      .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
      }
      
     
      
      
      /* Fading animation */
      .fade {
        animation-name: fade;
        animation-duration: 1.5s;
      }
      
      @keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
      }
  
  
  
  
  #leftdiv a {
    font-size: 1.3rem;
    font-weight: 700;
    margin-left: 4rem;
    font-style: italic;
    color:gray;
    
  }
  #leftdiv label {
    font-size: 1rem;
    font-weight: 700;
   
    margin-left: 5rem;
    color:gray;
    
  }
  #middiv a {
    font-size: 1.3rem;
    font-weight: 700;
    margin-left: 4rem;
    font-style: italic;
    color:gray;
    
  }
  #middiv label {
    font-size: 1rem;
    font-weight: 700;
   
    margin-left: 5rem;
    color:gray;
    
  }
  #rightdiv a {
    font-size: 1.3rem;
    font-weight: 700;
    margin-left: 4rem;
    font-style: italic;
    color:gray;
    
  }
  #rightdiv label {
    font-size: 1rem;
    font-weight: 700;
   
    margin-left: 5rem;
    color:gray;
    
  }
  #lastdiv a {
    font-size: 1.3rem;
    font-weight: 700;
    margin-left: 4rem;
    font-style: italic;
    color:gray;
    
  }
  #lastdiv label {
    font-size: 1rem;
    font-weight: 700;
   
    margin-left: 6rem;
    color:gray;
    
  }
  #leftdiv img {
   
    width:250px ;
    height:300px;
  
  
  }
  #middiv img {
   
    width:250px ;
    height:300px;
    
  
  }
  #rightdiv img {
   
    width:250px ;
    height:300px;
   
  
  }
  #lastdiv img {

    width:250px ;
    height:300px;
   
  
  }
  
  
  
  #leftdiv {
    float:left; 
    background-color:white;
    
    margin-top: 0.5rem;
    width:25%;
    height:19rem;
    
    margin-left: 3rem;
    
  }
  #middiv{
    float:left; 
    background-color:white;
    margin-top: 0.5rem;
    width:25%;
    height:19rem;
  
  }
  #rightdiv{
    float:left;
    background-color:white;
    margin-top: 0.5rem;
    width:25%;
    height:19rem;
  
  }
  #lastdiv{
    float:left;
    background-color:white;
    margin-top: 0.5rem;
    width:15%;
    height:19rem;
  
  }
  .fav{
    font-size: 1.8rem;
    font-weight: 700;
    margin-top: 1rem;
    margin-left:35rem;
    color:gray;
  }

  footer {
    text-align: center;
    padding: 3px;
    background-color:rgb(138, 172, 159);
    color: white;
    margin-top: 24rem;
  }

  @media (max-width: 858px) {
    .checkbtn{
      display: block;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background:rgb(138, 172, 159);
      top: 70px;
      left: -100%;
      text-align: center;
      transition: all .5s;

    }
    nav ul li {
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a {
      font-size: 20px;
    }


    nav ul li a img{
     
      height: 50px; 
    }
    .logo{
     
  
  
  font-style: italic;
  font-size: larger;
  
  
  }
    #check:checked ~ ul {
      left: 0;
    }


   
    #leftdiv {
  
      
      
      width:100%;
     margin-bottom: 24px;
      
    }
    #middiv{
      margin-left: 3rem;
      width:100%;
      margin-bottom: 24px;
    }
    #rightdiv{
      margin-left: 3rem;
      width:100%;
      margin-bottom: 24px;
    }
    #lastdiv{
      margin-left: 3rem;
      width:100%;
      margin-bottom: 24px;
    }
    
    #leftdiv a {
      font-size: 1rem;
      font-weight: 700;
      margin-left:2rem;
      font-style: italic;
      color:gray;
      
    }
    #leftdiv label {
      font-size: 1rem;
      font-weight: 700;
     
      margin-left: 2rem;
      color:gray;
      
    }
    #middiv a {
      font-size: 1rem;
      font-weight: 700;
      margin-left:2.7rem;
      font-style: italic;
      color:gray;
    }
    #middiv label {
      font-size: 1rem;
      font-weight: 700;
     
      margin-left: 2.5rem;
      color:gray;
    }
    #rightdiv a {
      font-size: 1rem;
      font-weight: 700;
      margin-left:3rem;
      font-style: italic;
      color:gray;
      
    }
    #rightdiv label {
      font-size: 1rem;
      font-weight: 700;
     
      margin-left: 2.8rem;
      color:gray;
    }
    #lastdiv a {
      font-size: 1rem;
      font-weight: 700;
      margin-left:2rem;
      font-style: italic;
      color:gray;
      
    }
    #lastdiv label {
      font-size: 1rem;
      font-weight: 700;
     
      margin-left: 2rem;
      color:gray;
    }
    #leftdiv img {
     
      width:400px;
      
    
    
    }
    #middiv img {
     
      width:400px;
    
    }
    #rightdiv img {
     
      width:400px;
    
    }
    #lastdiv img {
  
      width:400px;
    
    }


    footer {
      text-align: center;
      padding: 3px;
      background-color:rgb(138, 172, 159);
      color: white;
      margin-top: 90rem;
    }





  }

