*{
  box-sizing: border-box;
} 
body {

  padding: 0;
  margin: 0;
    
}
nav{
  background:rgb(138, 172, 159); 
  height: 80px;
  width: 100%;


}
nav ul {
  float: right;
  margin-right: 20px;
}
nav ul li {
  display:inline-block;
  line-height: 70px;
  margin: 0 10px;
}
nav ul li a {
  color: white;
  font-size: 1.3rem;
  font-weight: 500;
  
}
nav ul li a img{
  float: left;
  height: 50px; 
}
.logo{
 

margin-right:700px;
font-style: italic;
font-size: larger;


}
.checkbtn{
  font-size: 30px;
  color: #fff;
  float: right;
  line-height: 80px;
  margin: 20px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
    @media (max-width: 858px) {
      .checkbtn{
        display: block;
      }
      ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background:rgb(138, 172, 159);
        top: 70px;
        left: -100%;
        text-align: center;
        transition: all .5s;

      }
      nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
      }
      nav ul li a {
        font-size: 20px;
      }


      nav ul li a img{
       
        height: 50px; 
      }
      .logo{
       
    
    
    font-style: italic;
    font-size: larger;
    
    
    }
      #check:checked ~ ul {
        left: 0;
      }
    }





#leftdiv a {
  font-size: 1.3rem;
  font-weight: 700;
  margin-left: 3rem;
  color:gray;
  
}
#leftdiv label {
  font-size: 1.3rem;
  font-weight: 700;
 
  margin-left: 4rem;
  color:gray;
  
}
#middiv a {
  font-size: 1.3rem;
  font-weight: 700;
  margin-left: 4rem;
  color:gray;
  
}
#middiv label {
  font-size: 1.3rem;
  font-weight: 700;
 
  margin-left: 4rem;
  color:gray;
  
}
#rightdiv a {
  font-size: 1.3rem;
  font-weight: 700;
  margin-left: 3rem;
  color:gray;
  
}
#rightdiv label {
  font-size: 1.3rem;
  font-weight: 700;
 
  margin-left: 3rem;
  color:gray;
  
}
#lastdiv a {
  font-size: 1.3rem;
  font-weight: 700;
  margin-left: 3rem;
  margin-bottom: 5rem;
  color:gray;
  
}
#lastdiv label {
  font-size: 1.3rem;
  font-weight: 700;
 
  margin-left: 4rem;
  color:gray;
  
}
#leftdiv img {
  margin-top: 2.4rem;
  width:250px ;
  height:330px;


}
#middiv img {
  margin-top: 2.4rem;
  width:250px ;
  height:330px;
  

}
#rightdiv img {
  margin-top: 2.4rem;
  width:250px ;
  height:330px;
 

}
#lastdiv img {
  margin-top: 2.4rem;
  width:250px ;
  height:330px;
 

}



#leftdiv {
  float:left; 
  background-color:white;
  
  margin-top: 2.4rem;
  width:25%;
  height:19rem;
  
  margin-left: 3rem;
  
}
#middiv{
  float:left; 
  background-color:white;
  margin-top: 2.4rem;
  width:25%;
  height:19rem;

}
#rightdiv{
  float:left;
  background-color:white;
  margin-top: 2.4rem;
  width:25%;
  height:19rem;

}
#lastdiv{
  float:left;
  background-color:white;
  margin-top: 2.4rem;
  width:15%;
  height:19rem;

}
footer {
  text-align: center;
  padding: 3px;
  background-color:rgb(138, 172, 159);
  color: white;
  margin-top: 24rem;
}